%html
  %head
    %title
      Twi.st
    %script{:type => "text/javascript", :src => "/amber/js/amber.js"}

    - if development?
      %script{:type => "text/javascript", :src => "/contrib/bootstrap/js/bootstrap.js"}
      %link{:type => "text/css", :media => "screen", :href => "/contrib/bootstrap/css/bootstrap.css"}
    - else
      %script{:type => "text/javascript", :src => "/contrib/bootstrap/js/bootstrap.min.js"}
      %link{:type => "text/css", :media => "screen", :href => "/contrib/bootstrap/css/bootstrap.min.css"}

    %script{:type => "text/javascript"}
      loadAmber({
      files: [#{javascript_files}],
      prefix: '../js', /* For some reason Amber looks in the ./amber/ tree for our files */
      ready: function() {
      }});
  %body
    - if development?
      %div{:style => 'float: right; clear: all'}
        %button{:onclick => "smalltalk.Browser._open();"}
          Run IDE
        %br/
        %button{:onclick => "smalltalk.ChuckRunner._current()._run();"}
          Run Tests
      %br/
    %h1
      Twi.st
    %br/
