%html
  %head
    %title
      Resin
    = embed_amber
  %body
    - if Resin.development?
      %div{:style => 'float: right; clear: all'}
        %button{:onclick => "smalltalk.Browser._open();"}
          Run IDE
